<link rel="stylesheet" href="/product/product-list/product-list.component.css">
<section class="sec">
    <h1 class="pheading">{{productInput?.name}}</h1>
    <div class="products">
        <!--card-->
        <div class="card">
            <div class="img"><img src="{{productInput?.image}}" alt=""></div>
            <div class="title">{{productInput?.title}}</div>
            <div class="box">
                <div class="price">$ {{productInput?.price}}</div>
                <button class="btn1" (click)="delete()">Delete</button>
                <a href="pay.html"><button class="btn">Buy Now</button></a>
            </div>
        </div>
    </div >
</section>

<!-- <div style="border: solid red 1px;">
    <div>{{productInput.name}}</div>
    <button (click)="delete()">delete</button>
</div> -->

